.home{
    padding-top: 3rem;
    border-top-width: 1px;
    border-bottom-width: 1px;
    margin-bottom: 2.5rem;
}

.home-root{
    margin-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.home-leaf{
    padding-left: 1rem;
    padding-right: 1rem;
}
.home-title{
    font-size: 1.875rem;
    font-family: sans-serif;
    line-height: 2.25rem; 
    font-weight: bold;
    letter-spacing: -0.05em;
    color: rgb(17 24 39);
}
.home-description{
    font-family: sans-serif;
    color: rgb(107 114 128);
}
